ACCESS_CODE="1111"
DJANGO_SECRET_KEY="QhiV_EoDMSQmyBpWi65m-h28XZmK69eKOHe-47BYUTtlslyVPTxS1pNzHmmgh_VkpvBOCJRyJUHKNhQ7PtCQJA"

IMAGE=
DB_USER="postgres"
DB_PASSWORD="password"
DB_NAME=postgres
DB_HOST=postgres-service
DB_PORT="5432"

TMPDIR="/webapp/myapp/temp"

DJANGO_ENV=development
DEBUG=True
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123