# Development environment variables for .devcontainer
# This file is only used during development and should not be deployed to production

ACCESS_CODE=1111
DJANGO_SECRET_KEY=QhiV_EoDMSQmyBpWi65m-h28XZmK69eKOHe-47BYUTtlslyVPTxS1pNzHmmgh_VkpvBOCJRyJUHKNhQ7PtCQJA

DB_USER=your_db_user
DB_PASSWORD=your_db_password  
DB_NAME=postgres
DB_HOST=postgres-service
DB_PORT=5432

TMPDIR=/webapp/myapp/temp

# Django development settings
DJANGO_ENV=development
DEBUG=True
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

REDIS_URL=redis://redis:6379/0

# Celery broker  
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0